body {
	background:url(../imagenes/fondo.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	color:#fff;
	font-size:30px;
}

a {

	color:yellow;
}
h1, h2, h3 {
	color:#fff;
}

div {
	background:purple;
	color:#fff;
	width:60%;
	border:10px dotted green ;
	padding:30px;
	margin:50px 250px;

}
img {
	margin:0px 200px;
	border-radius:25%;

}

table {
	border:1px solid red;
	border-collapse:collapse;

}
table td {
	border:1px solid red;
	padding:10px;

}
table tr:hover {
	background: blue;

}
table td:hover{
	background:red;

}